.footer {
  width: 100%;
  height: 50px;
  line-height: 50px;
}

.foot_nav {
  width: 30%;
  height: 100%;
  margin: 0 auto;
}

.foot_nav ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.foot_nav ul li a {
  font-size: 12px;
}

.foot_nav ul li a::after {
  content: "|";
  display: inline-block;
  padding-left: 5px;
  width: 1px;
  height: 100%;
}

.foot_nav ul li a:hover {
  color: #a39f9f;
}

.footer .copyright {
  text-align: center;
  /* margin: 0 auto; */
}
